<div class="comments">
  {{#each this}}
  <section class="comments">
  <div class="bg-white p-4 rounded-lg shadow-lg">
    <h2 class=" meta text-1xl font-bold mb-2 text-gray-800">{{comments_text}}</h2>
    <p class="text text-gray-600">Posted by <span class="text-red-400">{{user.username}}</span> on {{ format_date created_at}}</p>
  </div>
  </section>
  {{/each}}
</div>
